<div class="footer " th:fragment="menu">

    <link href="/theme/superfish.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="theme/favicon.ico">
    <link rel="icon" media="all" type="image/x-icon" href="theme/animated_favicon1.gif">
    <link rel="icon" href="theme/some_icon.ico" type="image/x-icon">  
    <link rel="shortcut icon" href="theme/some_icon.ico" type="image/x-icon">
    <noscript>
    It appears that your browser does not support JavaScript, or you have it disabled.  &amp;lt;BR&amp;gt;
    This site is best viewed with JavaScript enabled.&amp;lt;BR&amp;gt;
    If JavaScript is disabled in your browser, please turn it back on then reload this page.&amp;lt;BR&amp;gt;
    &amp;lt;meta http-equiv="refresh" content="0;url=http://ihrms.cdac.in/hrms/NoScript.jsp"&amp;gt;
    </noscript>
    <script type="text/javascript" src="/theme/superfish.js"></script>
    <script type="text/javascript" src="/theme/supersubs.js"></script>
    <script>
        $(document).ready(function () {
            $("ul.sf-menu").supersubs({
                minWidth: 12, // minimum width of sub-menus in em units 
                maxWidth: 27, // maximum width of sub-menus in em units 
                extraWidth: 1     // extra width can ensure lines don't sometimes turn over 
                        // due to slight rounding differences and font-family 
            }).superfish();  // call supersubs first, then superfish, so that subs are 
            // not display:none when measuring. Call before initialising 
            // containing tabs for same reason. 
        });

    </script>




    <table align="center"><tbody><tr><td>
                    <table id="headerTable" style="width:980px;border-collapse: collapse;margin:0px; padding:0px;border-width: 0px;background-position: bottom;" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="width:100%;text-align:center">
                                    <img width="980" alt="" style="width:980px;height:82px;border:0px;display:block" src="/theme/top1A.jpg">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 980px;border: none;" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="background-image: url(&#39;  /theme/2_m1.gif&#39;);height: 23px;width: 9px;background-position: bottom"><img style="width: 10px;height: 23px;display: block;border: none;" src="/theme/5_l.gif" alt=""></td>
                                <td style="background-image: url(&#39;  /theme/2_m1.gif&#39;);height: 23px;width: 800px;background-position: bottom">




                                    <ul class="sf-menu sf-js-enabled">                    
                                            <li>
                                                      <a href="/">Home</a>
                                         </li>

                                        <li sec:authorize="hasAuthority('ROLE_ADMIN')">

                                            <a href="#">Masters</a>
                                            <ul style="float: none; width: 12em; display: none; visibility: hidden;">


                                                <li>
                                                    <a href="/masters/users/add">User Master</a>
                                                </li>

                                                <li style="white-space: normal; float: left; width: 100%;">

                                                    <a href="/masters/classification/add">Item Classification</a>
                                                </li>                                 

                                                <li style="white-space: normal; float: left; width: 100%;">

                                                    <a href="/masters/group/add">Item Group</a>
                                                </li>                                 

                                                <li style="white-space: normal; float: left; width: 100%;">

                                                    <a href="/masters/item/add">Item Master</a>
                                                </li>                                 
                                                <li>
                                                  <a href="/masters/project/add">Project Master</a>
                                                    </li>

                                                <li>
                                                      <a href="/masters/purchase/add">Purchase type Master</a>
                                                </li>
                                                 <li>
                                                      <a href="/masters/department/add">Department Master</a>
                                                </li>
                                                <li>
                                                      <a href="/masters/designation/add">Designation Master</a>
                                                </li>
                                            </ul>
                                        </li>

                                         <li > 
                                            <a href="#">Indent</a>
                                            <ul style="float: none; width: 12em; display: none; visibility: hidden;">
                                              <li>
                                                      <a href="/indent-form">My Indents</a>
                                                </li>
                                                 <li >
                                                      <a href="/requested-indents">Requested Indents</a>
                                                </li>
                                                <li sec:authorize="hasAuthority('ROLE_MMG')">
                                                      <a href="/approved-indents">Approved Indents</a>
                                                </li>
                                            </ul>
                                                      
                                         </li>
                                          <li>
                                                      <a href="/profile">Profile</a>
                                         </li>
                                    </ul>


                                           



                                </td>


                                <td style="background-image: url(&#39;  /theme/22_m1.gif&#39;);height: 23px;width: 95px;background-position: bottom">&nbsp;&nbsp;<a class="mlink" href="/logout" target="_top">LOGOUT</a></td>
                                <td style="background-image: url(&#39;  /theme/22_m1.gif&#39;);height: 23px;width: 10px;background-position: bottom"><img src="/theme/5_r.gif" alt="" style="height: 23px;width: 10px;border: none;display: block"></td>
                            </tr>        
                        </tbody>
                    </table>


                    </div>