<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/defaultcdac">
  
<body>
   
    <div id="page" layout:fragment="content">
        
                     <!--********************************* First Table , For Screen Header**********************************************-->
<table style="width: 980px;border-collapse: collapse;margin:0px; padding:0px;background-color:#ffffff;border-spacing:0px" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="width: 9px;background-image: url(&#39;  /theme/l.gif&#39;);text-align: center"></td>
                <td style="width: 955px;background-image:url(&#39;  /theme/topcellback11.gif&#39;);text-align: center;" colspan="2">
                    <img style="widows: 1px;height: 11px;border: 0px" src="/theme/space.gif">
                    <table style="width: 958px;border-collapse: collapse;margin:0px; padding:0px;border-spacing:0px" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                                <td style="width: 9px" rowspan="4"><img style="width: 9px;height: 40px;display: block" src="/theme/title_01.gif"></td>
                                <td style="vertical-align: top;background-image: url(&#39;  /theme/title_02.gif&#39;)" rowspan="2"></td>
                                <td style="width: 199px;vertical-align:middle" rowspan="4"><img style="width: 199px;height: 40px;display: block" src="/theme/title_03.gif"></td>
                                <td style="width: 144px;background-image: url(&#39;  /theme/title_04.gif&#39;);text-align: right;background-position:center;background-repeat: no-repeat" class="pageHeading" rowspan="4">Home</td>
                                <td style="width: 221px" colspan="3"><img style="width: 221px;height: 16px;display: block" src="/theme/title_05.gif"></td>
                                <td><img style="width: 1px;height: 16px;display: block" src="/theme/spacer.gif"></td>
                        </tr>
                        <tr>
                            <td style="width: 199px" rowspan="3"><img style="width: 199px;height: 24px;display: block" src="/theme/title_06.gif"></td>
                            <td style="width: 12px" rowspan="2"><img style="width: 12px;height: 13px;display: block" src="/theme/title_07.gif"></td>
                            <td style="width: 10px" rowspan="3"><img style="width: 10px;height: 24px;display: block" src="/theme/title_08.gif"></td>
                            <td style="width: 1px"><img style="width: 1px;height: 1px;display: block" src="/theme/spacer.gif"></td>
                        </tr>
                        <tr>
                            <td style="background-image: url(&#39;  /theme/title_09.gif&#39;);text-align: left" rowspan="2" class="navigation"><a href="/" class="link4">Home</a> &gt;&gt;</td>
                            <td style="width: 1px"><img style="width: 1px;height: 12px;display: block" src="/theme/spacer.gif"></td>
                        </tr>
                        <tr>
                            <td style="width: 12px"><img style="width: 12px;height: 11px;display: block" src="/theme/title_10.gif"></td>
                            <td style="width: 1px"><img style="width: 1px;height: 11px;display: block" src="/theme/spacer.gif"></td>
                        </tr>
                    </tbody>
                  </table>
                </td>
                <td style="width: 10px;background-image: url(&#39;  /theme/r.gif&#39;);text-align: center"></td>
            </tr>
        </tbody>
        </table>
<!--********************************* Second Table, For Error Messages **********************************************-->


<table border="0" cellpadding="0" cellspacing="0" width="980">
    <tbody><tr>
        <td align="center" background="theme/l.gif" width="9"></td>
        <td width="5"><img src="/theme/space.gif" border="0" height="10" width="1"></td>
        <td width="950">
            <div id="errorMessage" class="errcolor" th:text="${message}"></div>            
        </td>
        <td align="center" background="theme/r.gif" width="10"></td>
    </tr>
</tbody></table>
 
         <table border="0" cellpadding="0" cellspacing="0" width="980">
            <tbody><tr>
                <td align="center" background="theme/l.gif" width="9"></td>
                <td width="5"><img src="/theme/space.gif" border="0" height="10" width="1"></td>
                <td colspan="2" style="text-align: right">
                                                             
                  <div class="item-list" th:fragment="indent-action-finance-list">
    
        
        <script type="text/javascript">
    $(document).ready(function() {
        debugger;
  
  $('#datatable_user').DataTable( {
        bSort : false,
        dom: 'Bfrtip',
        buttons: [
             'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
     
     </script>
                            <table id="tbrecentApplications" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr id="trRow333">
                                        <td style="width: 8px"><img style="width: 8px;height: 23px;border-width: 0px;display: block" src="/theme/6_l.gif" alt=""></td>
                                        <!-- *** Update Table Header -->
                                        <td style="background-image: url(&#39;  /theme/6_m.gif&#39;);" nowrap="nowrap" class="heading" >&nbsp;Pending Indents for Finance approval</td>
                                        <td style="width: 8px;background-image: url(&#39;  /theme/6_m.gif&#39;);"></td>
                                        <td style="width: 100%;background-image: url(&#39;  /theme/6_m.gif&#39;);">
                                            <table style="width: 100%;border-width: 0px;" cellspacing="0" cellpadding="0" >
                                                <tbody><tr>
                                                    <td style="width: 85%"></td>
                                                    <td style="width: 15%;text-align: right">
                                                        <span id="spcol3" onclick="ToggleTable2(&#39;trRow111&#39;,&#39;trRow222&#39;,&#39;spexp3&#39;,&#39;spcol3&#39;,&#39;C&#39;); return false; " style="cursor: pointer"><img style="width: 13px;height: 13px;border-width: 0px;" src="/theme/ico_collapse.gif" id="imgcol" alt="Collapse"></span>
                                                        <span id="spexp3" onclick="ToggleTable2(&#39;trRow111&#39;,&#39;trRow222&#39;,&#39;spexp3&#39;,&#39;spcol3&#39;,&#39;E&#39;); return false;" style="cursor: pointer; display: none;"><img style="width: 13px;height: 13px;border-width: 0px;" src="/theme/ico_expand.gif" id="imgexp" alt="Expand"></span>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                        <td><img style="width: 10px;height: 23px;border-width: 0px;display: block;" src="/theme/6_r.gif" alt=""></td>
                                    </tr>
                                    <tr id="trRow111">
                                        <td background="/theme/l.gif"><img src="/theme/space.gif" border="0" height="1" width="1"></td>
                                        <td colspan="3">
                                            <table id="tdataTable" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td style="vertical-align: top;text-align: center;padding-top: 10px;">
                                                        
                                                            
                                                                 




<table id="datatable_user" style="width:100%" cellpadding="3" class="list" cellspacing="1">
<thead>
    <tr>
        <th>Indent Id</th>    
        <th>Items</th>
        <th>Indent Date</th>
        <th>status</th>
         <th></th>
    </tr>
</thead>
<tbody>
    
    
<tr class="" th:each="indent,rowStat : ${indentList}"  th:classappend="${rowStat.odd} ? 'odd' : 'even'">
    <td style="text-align:left;" th:text="${indent.indentId}"></td>
      <td style="text-align:left;" th:text="${indent.indentDetailList[0].item.itemName}+' ...'"></td>
     <td style="text-align:left;" th:text="${indent.indentDate}"></td>
     <td style="text-align:left;" th:text="${indent.status}"></td>
      <td style="text-align:left;">
            <a th:href="'/indent-view?indentId='+${indent.indentId}"  style="color: #ffffff" class="btn btn-xs btn-primary " th:id="'detail'+${indent.indentId}" >
            <span class="glyphicon glyphicon-view"></span> View Details
            </a>
        </td>
</tr>
                                            </tbody>
                                            </table>
                                            <img src="/theme/space.gif" border="0" height="10" width="1"><br>
                                        </td>
                                        <td background="/theme/r.gif"><img src="/theme/space.gif" border="0" height="1" width="1"></td>
                                    </tr>
                                    <tr id="trRow222"><td style="background-color: #4682b4;" colspan="5"><img style="width: 1px;height: 1px;border-width: 0px;display: block;" src="/theme/space.gif"></td></tr>
                                </tbody>
                                </table>
                            </td>
                        </tr><tr>
                </tr></tbody>
            </table>
           </div>

                                             

<div id="qualReportAuthDiv" style="display: none;height: auto;padding : 0px 0px 0px 0px;" align="left"></div>
                                                                   
                                                            </td>
                <td align="center" background="theme/r.gif" width="10"></td>
            </tr>
        </tbody></table>
        
        
          <table style="width: 980px;background-color: #ffffff;border-width: 0px;" cellpadding="0" cellspacing="0">
<tbody>
    <tr>
        <td style="width:8px;height: 23px;background-image: url(&#39;  /theme/2_m.gif&#39;);background-repeat: no-repeat;"><img style="width: 8px;height: 23px;border-width: 0px;" src="/theme/8_l.gif" alt=""></td>
        <td style="height: 23px;background-image: url(&#39;  /theme/2_m1.gif&#39;);display: block;text-align:center;"><font color="#000000" size="2">Powered by e-Governance solutions Group, C-DAC Pune [PV 1.0.1]</font></td>
        <td style="width: 8px;height: 23px;background-image: url(&#39;  /theme/2_m.gif&#39;);background-repeat: no-repeat;"><img style="width: 8px;height: 23px;border-width: 0px;" src="/theme/8_r.gif" alt=""></td>
    </tr>
</tbody>
</table>
      </div>  
   
    
            
</body>
</html>