<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/default">
  
<body>
    <div id="page" layout:fragment="content">
	<div class="container-contact100">
		<div class="wrap-contact100">
                   
                      <form method="post" id="form" >
				<span class="contact100-form-title">
					Indent View
                                </span>
                        <input type="hidden" id="list" value="" name="list">
                        <span style="color: red;"></span>
                       <div style="float: right; background: whitesmoke;padding: 5px">
                        <table id="gallery-list" style="float: right; ">
                           <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="label-input100"> PR No - </span>
                                    <span class="label-input100"> PR No</span>
                                </td>
                                 <td>
                                    <span class="label-input100">Date - </span>
                                    <span class="label-input100">Date</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="label-input100">Material Classification - </span>
                                    <span class="label-input100">Material Classification</span>
                                </td>
                                <td>
                                    <span class="label-input100">Department - </span>
                                    <span class="label-input100">Department</span>
                                </td>
                               
                            </tr>
                            <tr>
                                <td colspan="2">
                                     <span class="label-input100">Capital Equipment - </span>
                                     <span class="label-input100">Capital Equipment</span>
                                </td>
                                <td colspan="2">
                                     <span class="label-input100">Consumables - </span>
                                     <span class="label-input100">Consumables</span>
                                </td>
                                
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="label-input100">Description of Material - </span>
                                    <span class="label-input100">Description of Material</span>
                                </td>
                                <td colspan="2">
                                     <span class="label-input100">Budget Year - </span>
                                     <span class="label-input100">Budget Year</span>
                                </td>
                            </tr>
                            <tr>
                                
                                 <td colspan="2">
                                     <span class="label-input100">Project Code - </span>
                                     <span class="label-input100">Project Code</span>
                                 </td>
                              
                                 <td colspan="2">
                                    <span class="label-input100">Part/Type Number - </span>
                                    <span class="label-input100">Part/Type Number </span>
                                </td>
                            </tr>  
                              <tr>
                                 <td>
                                     <span class="label-input100">Qty - </span>
                                     <span class="label-input100">Qty</span>
                                 </td>
                                 <td>
                                     <span class="label-input100">Source Data - </span>
                                     <span class="label-input100">Source Data</span>
                                 </td>
                                <td>
                                    <span class="label-input100">Qty in Stock - </span>
                                    <span class="label-input100">Qty </span>
                                </td>
                                <td>
                                     <span class="label-input100">Price/Unit - </span>
                                     <span class="label-input100">Price/Unit</span>
                                </td>
                                
                            </tr>   
                            <tr>
                                 <td>
                                    <span class="label-input100">Delivery Mth & yr.- </span>
                                    <span class="label-input100">Delivery Mth & yr.</span>
                                </td>
                                <td colspan="2">
                                     <span class="label-input100">Suggested Vendors - </span>
                                     <span class="label-input100">Suggested Vendors</span>
                                 </td>
                                <td>
                                    <span class="label-input100">Mode of Dispatch - </span>
                                    <span class="label-input100">By hand</span>
                                </td>
                            </tr>   
                            <tr>
                                <td colspan="2">
                                     <span class="label-input100">Remarks - </span>
                                     <span class="label-input100">Remarks</span>
                                 </td>
                                 <td colspan="2">
                                     <span class="label-input100">Previous Purchase if any - </span>
                                     <span class="label-input100">Previous Purchase if any</span>
                                 </td>
                            </tr>
                            </tbody>
                        </table>
                       </div>
				
			</form>
                  </div>
	</div>

    </div>



</body>
</html>
