<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/defaultcdac">
  
<body>
   
    <div id="page" layout:fragment="content">
        <!--********************************* First Table , For Screen Header**********************************************-->
<table style="width: 980px;border-collapse: collapse;margin:0px; padding:0px;background-color:#ffffff;border-spacing:0px" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="width: 9px;background-image: url(&#39;  /theme/l.gif&#39;);text-align: center"></td>
                <td style="width: 955px;background-image:url(&#39;  /theme/topcellback11.gif&#39;);text-align: center;" colspan="2">
                    <img style="widows: 1px;height: 11px;border: 0px" src="/theme/space.gif">
                    <table style="width: 958px;border-collapse: collapse;margin:0px; padding:0px;border-spacing:0px" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                                <td style="width: 9px" rowspan="4"><img style="width: 9px;height: 40px;display: block" src="/theme/title_01.gif"></td>
                                <td style="vertical-align: top;background-image: url(&#39;  /theme/title_02.gif&#39;)" rowspan="2"></td>
                                <td style="width: 199px;vertical-align:middle" rowspan="4"><img style="width: 199px;height: 40px;display: block" src="/theme/title_03.gif"></td>
                                <td style="width: 144px;background-image: url(&#39;  /theme/title_04.gif&#39;);text-align: right;background-position:center;background-repeat: no-repeat" class="pageHeading" rowspan="4">User Master</td>
                                <td style="width: 221px" colspan="3"><img style="width: 221px;height: 16px;display: block" src="/theme/title_05.gif"></td>
                                <td><img style="width: 1px;height: 16px;display: block" src="/theme/spacer.gif"></td>
                        </tr>
                        <tr>
                            <td style="width: 199px" rowspan="3"><img style="width: 199px;height: 24px;display: block" src="/theme/title_06.gif"></td>
                            <td style="width: 12px" rowspan="2"><img style="width: 12px;height: 13px;display: block" src="/theme/title_07.gif"></td>
                            <td style="width: 10px" rowspan="3"><img style="width: 10px;height: 24px;display: block" src="/theme/title_08.gif"></td>
                            <td style="width: 1px"><img style="width: 1px;height: 1px;display: block" src="/theme/spacer.gif"></td>
                        </tr>
                        <tr>
                            <td style="background-image: url(&#39;  /theme/title_09.gif&#39;);text-align: left" rowspan="2" class="navigation"><a href="/" class="link4">Home</a> &gt;&gt;User Master</td>
                            <td style="width: 1px"><img style="width: 1px;height: 12px;display: block" src="/theme/spacer.gif"></td>
                        </tr>
                        <tr>
                            <td style="width: 12px"><img style="width: 12px;height: 11px;display: block" src="/theme/title_10.gif"></td>
                            <td style="width: 1px"><img style="width: 1px;height: 11px;display: block" src="/theme/spacer.gif"></td>
                        </tr>
                    </tbody>
                  </table>
                </td>
                <td style="width: 10px;background-image: url(&#39;  /theme/r.gif&#39;);text-align: center"></td>
            </tr>
        </tbody>
        </table>
<!--********************************* Second Table, For Error Messages **********************************************-->


<table border="0" cellpadding="0" cellspacing="0" width="980">
    <tbody><tr>
        <td align="center" background="theme/l.gif" width="9"></td>
        <td width="5"><img src="/theme/space.gif" border="0" height="10" width="1"></td>
        <td width="950">
            <div id="errorMessage" class="errcolor" th:text="${message}"></div>            
        </td>
        <td align="center" background="theme/r.gif" width="10"></td>
    </tr>
</tbody></table>
 
         <table border="0" cellpadding="0" cellspacing="0" width="980">
            <tbody><tr>
                <td align="center" background="theme/l.gif" width="9"></td>
                <td width="5"><img src="/theme/space.gif" border="0" height="10" width="1"></td>
                <td colspan="2" style="text-align: right">
                                                                
                                                                

<div id="qualReportAuthDiv" style="display: none;height: auto;padding : 0px 0px 0px 0px;" align="left"></div>
                                                                   
                                                            </td>
                <td align="center" background="theme/r.gif" width="10"></td>
            </tr>
        </tbody></table>
        <script type="text/javascript">
    $(document).ready(function() {
        debugger;
   
    $("#submit").click(function(event){
        debugger;
  event.preventDefault();
  var userName=$("#userName").val().trim();
     if(userName=="")
     {
         $("#errorMessage").html("user name can not be empty.")
         return;
     }
     var userEmployeeId=$("#userEmployeeId").val().trim();
     if(userEmployeeId=="")
     {
         $("#errorMessage").html("user Employee Id can not be empty.")
         return;
     }
     var userEmail=$("#userEmail").val().trim();
     if(userEmail=="")
     {
         $("#errorMessage").html("user user Email can not be empty.")
         return;
     }
     var userContactNo=$("#userContactNo").val().trim();
     if(userContactNo=="")
     {
         $("#errorMessage").html("user mobile number can not be empty.")
         return;
     }
     
        $("#frmEntrySlip").submit();
});

  
} );
     
     </script>
<form name="frmEntrySlip" id="frmEntrySlip" method="post" th:object="${user}"    th:action="@{add}" >


   
<!-- Include File To Display Header and Menu -->        

<table style="width: 980px;text-align: left;" cellspacing="0" cellpadding="0">
<tbody> 
    <tr>
        <td style="width:8px;background-image: url(&#39;  /theme/l.gif&#39;);text-align:left"><img style="width: 1px;height: 1px;border-width: 0px;display: block" src="/theme/space.gif"></td>
        <td style="width: 962px">
            <table style="widows: 960px;border-width: 0px;background-color:#ffffff" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="width: 100%;vertical-align: top;">
                        
                        <table style="width: 960px;border-width: 0px;background-color:#ffffff;text-align: center;" id="tblAdvanceApp" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="width: 8px"><img style="width: 8px;height: 23px;border-width: 0px;display: block" src="/theme/6_l.gif" alt=""></td>
                                    <!-- *** Update Table Header -->
                                    <td style="background-image: url(&#39;  /theme/6_m.gif&#39;);" nowrap="nowrap" class="heading">&nbsp;Add New User:</td>
                                    <td style="width: 8px;background-image: url(&#39;  /theme/6_m.gif&#39;);" nowrap="nowrap"></td>
                                    <td style="width: 100%;background-image: url(&#39;  /theme/6_m.gif&#39;);">
                                        <table style="width: 100%;border-width: 0px;"  cellspacing="0" cellpadding="0">
                                            <tbody><tr>
                                                <td style="width: 85%"></td>
                                                <td style="width: 15%;text-align: right">
                                                    <span id="spcol" onclick="ToggleTable3(&#39;trRow1&#39;,&#39;trRow2&#39;,&#39;trRow3&#39;,&#39;spexp&#39;,&#39;spcol&#39;,&#39;C&#39;); return false; " style="cursor: pointer"><img style="width: 13px;height: 13px;border-width: 0px;" src="/theme/ico_collapse.gif" id="imgcol" alt="Collapse"></span>
                                                    <span id="spexp" onclick="ToggleTable3(&#39;trRow1&#39;,&#39;trRow2&#39;,&#39;trRow3&#39;,&#39;spexp&#39;,&#39;spcol&#39;,&#39;E&#39;); return false;" style="cursor: pointer; display: none;"><img style="width: 13px;height: 13px;border-width: 0px;" src="/theme/ico_expand.gif" id="imgexp" alt="Expand"></span>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                    <td><img style="width: 10px;height: 23px;border-width: 0px;display: block;" src="/theme/6_r.gif" alt=""></td>
                                </tr>
                                <tr id="trRow1">
                                    <td style="width: 1px;height: 1px;background-image: url(&#39;  /theme/l.gif&#39;)"><img style="width: 1px;height: 1px;border-width: 0px;" src="/theme/space.gif"></td>
                                    <td colspan="3">
                                        <img style="width: 1px;height: 10px;border-width: 0px;display: block;" src="/theme/space.gif">
                                       
                                        <table style="width: 100%;border-width: 0" id="tdataTable" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#dbeaf5">
                                                    <!--*************Starting of Data Table*******************-->
                                                    <table width="100%" border="0" cellpadding="4" cellspacing="1" style="padding: 0px 0px 0px 0px;">
                                                        <tbody><tr class="row2">
                                                            <td width="20%">
                                                                Employee Name <font color="#CC0000"> *</font>
                                                            </td>
                                                            <td colspan="3"> 
                                                                <input name="userName" maxlength="250" id="userName" type="text" class="textbox" style="width:150px" value="">
                                                                
                                                               
                                                            </td>
                                                           
                                                            
                                                            
                                                            
                                                            
                                                        </tr>
                                                        <tr id="tbInTimeDet" class="heading" style="display:none"><td colspan="4" id="tdinTimeDet"></td></tr>
                                                        <tr class="row1">
                                                            <td>Employee Id		 <font color="#CC0000"> *</font></td>
                                                            <td colspan="3">
                                                                 <input name="userEmployeeId" maxlength="250" id="userEmployeeId" type="text" class="textbox" style="width:150px" value="">
                                                             
                                                            </td>
                                                           
                                                            </tr>
                                                            <tr class="row2">
                                                                 <td>Email Id<font color="#CC0000"> *</font></td>
                                                            <td>
                                                               
                                                                 <input name="userEmail" maxlength="250" id="userEmail" type="text" class="textbox" style="width:150px" value="">
                                                              </td>
                                                                <td>Mobile Number<font color="red">*</font></td>
                                                                <td colspan="3">
                                                                     <input name="userContactNo" maxlength="10" id="userContactNo" type="text" class="textbox" style="width:150px" value="">
                                                           
                                                                </td>
                                                            </tr>
                                                          
                                                    </tbody></table>
                                                    <script>
                                                        
                                                    </script>
                                                    <!--************End of Data Table********************-->
                                                </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                        <img style="width: 1px;height: 10px;border-width: 0px;display: block;" src="/theme/space.gif">
                                    </td>
                                    <td style="background-image: url(&#39;  /theme/r.gif&#39;)"><img style="width: 1px;height: 1px;display: block;" src="/theme/space.gif"></td>
                                </tr>
                                <tr id="trRow2"><td style="background-color: #4682b4;" colspan="5"><img style="width: 1px;height: 1px;border-width: 0px;display: block;" src="/theme/space.gif"></td></tr>
                                <tr id="trRow3">
                                <td colspan="5" align="right">
                                    
                                    <input type="image" border="0" height="22" width="79" src="/theme/send.gif" id="submit">
                                      
                                    <input type="image" src="/theme/cancel.gif" border="0" height="22" width="79" id="cancel" >
                                </td>
                            </tr>
                            </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="960">
                                <tbody><tr>
                                    <td align="center" width="9"></td>
                                    <td width="5"></td>
                                    <td width="950" style="text-align: right">
                                     </td>
                                    <td align="center" width="10"></td>
                                </tr>
                            </tbody></table>
                            
                            <img style="width: 1px;height: 5px;border-width: 0px;" src="/theme/space.gif">                            


 <div th:replace="user-list :: user-list"></div>

            <img style="width: 1px;height: 10px;border-width: 0px;" src="/theme/space.gif"><br>
            <img style="width: 1px;height: 10px;border-width: 0px;" src="/theme/space.gif">
    </td>
    <td style="width: 10px;background-image: url(&#39;  /theme/r.gif&#39;);background-position: center;background-repeat: repeat-y;">
        <img style="width: 10px;height: 10px;border-width: 0px;display: block;" src="/theme/space.gif">
    </td>
</tr>
</tbody>
</table>
 <table style="width: 980px;background-color: #ffffff;border-width: 0px;" cellpadding="0" cellspacing="0">
<tbody>
    <tr>
        <td style="width:8px;height: 23px;background-image: url(&#39;  /theme/2_m.gif&#39;);background-repeat: no-repeat;"><img style="width: 8px;height: 23px;border-width: 0px;" src="/theme/8_l.gif" alt=""></td>
        <td style="height: 23px;background-image: url(&#39;  /theme/2_m1.gif&#39;);display: block;text-align:center;"><font color="#000000" size="2">Powered by e-Governance solutions Group, C-DAC Pune [PV 1.0.1]</font></td>
        <td style="width: 8px;height: 23px;background-image: url(&#39;  /theme/2_m.gif&#39;);background-repeat: no-repeat;"><img style="width: 8px;height: 23px;border-width: 0px;" src="/theme/8_r.gif" alt=""></td>
    </tr>
</tbody>
</table>
</td></tr>
</tbody></table>
</form><canvas id="netbeans_glasspane"  style="position: fixed; top: 0px; left: 0px; z-index: 50000; pointer-events: none;" width="1686" height="820"></canvas>

<script>
    setTimeout('setFocusCaste()',100);
</script>


           </div>

        
        
   
    
            
</body>
</html>